/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #000428, #004e92);
  color: white;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

header h1 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

header h1::before {
  content: "🎮";
}

.title {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.colorido{
  color: #3e50f1;
}

.games {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  box-shadow: 1px 1px 16px 1px white;
  border-radius: 5px;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 15px;
  width: 200px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: transform 0.2s;
  
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: opacity 0.2s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-alugar {
  background: #2196f3;
}

.btn-devolver {
  background: #252525;
}

.alugado{
 background: rgba(255, 255, 255, 0.479);
}

.alugado img{
  opacity: 0.5;
}

/* Responsividade */
@media (max-width: 768px) {
  .games {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    max-width: 300px;
  }
}